ul {
    display: grid;
    grid-template-columns: repeat(2, var(--player-width));
    justify-content: center;
    max-width: 320px;
    gap: 24px;
}

li {
    display: flex;
    justify-content: center;
}