:host {
    overflow-y: auto;
    padding: 8px 0 80px;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--player-width));
    justify-content: center;
    gap: 16px 16px;
}

li {
    display: flex;
    justify-content: center;
}