:host {
    height: 40%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--sun-yellow);
    aspect-ratio: 1;
}