:host {
    grid-row: 1;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: var(--light-blue);
    text-transform: uppercase;
}