.button-container {
    display: inline-flex;
    border: 1px solid var(--button-primary-border-color);
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
    padding: var(--button-primary-container-padding);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--button-background-color);
    padding: 0 16px;
    border-radius: inherit;
    outline: none;
    cursor: pointer;
}

.button:hover:not(:disabled) {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-color);
}

.button:disabled {
    background-color: var(--button-disabled-background-color);
    color: var(--button-disabled-color);
    cursor: not-allowed;
}

.button-container:has(button:disabled) {
    border-color: var(--button-disabled-background-color);
    opacity: 0.6;
    cursor: not-allowed;
}