.match {
    color: var(--match-color);
    cursor: pointer;
    width: 100%;
    max-width: var(--content-width);
    background-color: var(--match-background-color);
    border-radius: 16px;
    position: relative;
}

.match-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 16px;
    align-items: center;
    font-size: 9px;
}

.match-group {
    text-transform: uppercase;
}

.match-container {
    display: grid;
    grid-template-columns: 32px 1fr 24px 24px 1fr 32px;
    align-items: center;
    gap: 4px 8px;
    border-radius: inherit;
    position: relative;
    isolation: isolate;
    height: 48px;
    padding: 0 16px;

    &::before {
        content: "";
        position: absolute;
        inset: 2px;
        background-color: var(--match-content-background-color);
        z-index: -1;
        border-radius: inherit;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background-image: url('/assets/img/match-border.svg');
        background-size: cover;
        opacity: .3;
        transition: opacity 0.3s ease-in-out;
        z-index: -2;
    }

    .match:hover &::after {
        opacity: 1;
    }
}

.match-prediction-box {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: normal;
    font-size: 11px;
    font-family: var(--font-family-gaming);
    background-color: var(--match-prediction-background-color);
    color: var(--match-prediction-color);

    &.predicted {
        background-color: var(--match-prediction-predicted-background-color);
    }
}

.match-team-name {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;

    &.name-1 {
        text-align: left;
    }

    &.name-2 {
        text-align: right;
    }
}

.match-score-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 4px 1fr;
    margin-inline: auto;
    background-color: var(--match-score-background-color);
    font-size: 11px;
    font-weight: bold;
    color: var(--match-score-color);
    border-radius: 4px;
    height: 20px;
    width: 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: -4px;
}

.match-score-separator {
    font-size: 14px;
}

.match-date-time {
    font-style: italic;
    grid-column: 3;
    justify-self: end;
}

.match-time-status {
    grid-column: 3;
    justify-self: end;
}