.match {
    background-color: var(--match-background-color);
    color: var(--match-color);
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
    max-width: var(--content-width);
}

.match-container {
    display: grid;
    grid-template-columns: 32px 1fr 24px 24px 1fr 32px;
    align-items: center;
    gap: 4px 8px;
    position: relative;
    isolation: isolate;
    border-radius: inherit;
    height: 48px;
    padding: 0 16px;

    &::before {
        content: "";
        position: absolute;
        inset: 2px;
        background-color: var(--match-content-background-color);
        z-index: -1;
        border-radius: inherit;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background-image: url('/assets/img/match-border.svg');
        opacity: .2;
        transition: opacity 0.3s ease-in-out;
        z-index: -2;
    }

    .match:hover &::after {
        opacity: 1;
    }
}

.match-prediction-box {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: normal;
    font-size: 11px;
    font-family: var(--font-family-gaming);
    background-color: var(--match-prediction-background-color);
    color: var(--match-prediction-color);

    &.predicted {
        background-color: var(--match-prediction-predicted-background-color);
    }
}

.match-team-name {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;

    &.name-1 {
        text-align: left;
    }

    &.name-2 {
        text-align: right;
    }
}

.match-score {
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    color: var(--blue);

    &.score-1 {
        grid-column: 3;
    }

    &.score-2 {
        grid-column: 4;
    }
}