.list-tile {
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--list-tile-background-color);
    border: 1px solid var(--list-tile-border-color);
    color: var(--list-tile-color);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in-out;
    margin-top: 24px;
    max-width: var(--content-width);
    margin-inline: auto;
}

.list-tile:hover {
    background-color: var(--list-tile-hover-background-color);
    color: var(--list-tile-hover-color);
}