:host {
    --light-blue: #75aadb;
    --sun-yellow: #fcbf45;
    --white: #ffffff;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: inherit;
}

.stripe-1,
.stripe-3 {
    background-color: var(--light-blue);
}

.stripe-2 {
    background-color: var(--white);
}