:host {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 24px 0;
}

h1 {
    color: var(--blue);
    font-family: var(--font-family-gaming);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.card {
    width: 320px;
    height: 196px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--card-background);
}