:host {
    position: fixed;
}

dialog {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-size: var(--background-size);
    display: grid;
    justify-content: center;
    grid-template-rows: 32px 1fr 256px;
    gap: 16px;
    z-index: 1;
}

video {
    height: 40%;
    border-radius: 8px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: var(--light-blue);
    align-self: center;
}