:host {
    display: block;
    width: 100%;
}

.position-header-row {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    border-bottom: 1px solid var(--border-color);
    color: var(--gray-600);
    font-weight: 600;
}

.col-team {
    flex-grow: 1;
    text-align: left;
}

.col-stat {
    width: 24px;
    text-align: center;
    flex-shrink: 0;
}

.col-pts {
    font-weight: 700;
    color: var(--table-highlight-color);
}