:host {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background: var(--match-prediction-item-background-color);
    color: var(--match-prediction-item-color);
    border: 1px solid var(--match-prediction-item-border-color);
    border-radius: 8px;
    padding: 8px 16px;
    width: 100%;
}

.nickname {
    font-size: 14px;
    font-weight: 600;
}

.score {
    font-weight: bold;
    font-size: 16px;
    margin: 0 24px;
    justify-self: center;
}

.points {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    min-width: 64px;
    height: 32px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: bold;

    padding: 0 12px;
    box-sizing: border-box;
}

.exact {
    background-color: var(--match-prediction-item-points-exact-background-color);
    color: var(--match-prediction-item-points-exact-color);
}

.diff {
    background-color: var(--match-prediction-item-points-diff-background-color);
    color: var(--match-prediction-item-points-diff-color);
}

.winner {
    background-color: var(--match-prediction-item-points-winner-background-color);
    color: var(--match-prediction-item-points-winner-color);
}

.lose,
.points-null {
    background-color: transparent;
    color: var(--match-prediction-item-points-lose-color);
    border: 1px dashed var(--match-prediction-item-points-lose-border-color);
}