:host {
    display: grid;
    grid-template-columns: 48px 24px 24px 48px 1fr;
    gap: 0 16px;
    align-items: center;
    background: var(--match-background-color);
    border: 1px solid var(--match-border-color);
    border-radius: var(--match-border-radius);
    padding: 4px 16px;
    width: 100%;
    box-sizing: border-box;
}

.team-flag {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

app-points-badge {
    justify-self: end;
}
