:host {
    display: grid;
    grid-template-columns: 32px 1fr 24px 24px 1fr 32px;
    align-items: center;
    gap: 8px 8px;
    color: var(--blue);
    text-transform: uppercase;
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    background-color: var(--match-background-color);
    cursor: pointer;
    width: 100%;
    max-width: 480px;
}

:host:hover {
    border-color: var(--light-blue);
}

.team-flag {
    grid-row: 2;
}

.team-name {
    font-weight: bold;
    font-size: 11px;
    grid-row: 2;
}

.team-name-1 {
    text-align: left;
}

.team-name-2 {
    text-align: right;
}

.score {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: var(--blue);
}

.score-1 {
    grid-column: 3;
}

.score-2 {
    grid-column: 4;
}

.prediction-box {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: normal;
    font-size: 12px;
    font-family: var(--font-family-gaming);
    background-color: rgba(255, 255, 255, 0.5);
    grid-row: 2;
}

.date-time {
    grid-column: 1 / -1;
    font-size: 11px;
    font-weight: normal;
    color: var(--blue);
    opacity: 0.8;
    text-align: center;
    font-style: italic;
    margin-top: 8px;
}