:host {
    display: grid;
    grid-template-columns: 40px 1fr auto 1fr 40px;
    align-items: center;
    gap: 0 16px;
    color: var(--blue);
    text-transform: uppercase;
    padding: 12px 16px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.team-name {
    font-weight: bold;
    font-size: 11px;
}

.team-name-1 {
    text-align: left;
}

.team-name-2 {
    text-align: right;
}

.date-time {
    font-size: 12px;
    font-weight: normal;
    color: var(--blue);
    opacity: 0.8;
    text-align: center;
    font-style: italic;
}