.date-time {
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    font-style: italic;
    padding: 8px 0;
    width: 160px;
    background-color: var(--match-background-color);
    margin-inline: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
