:host {
    position: relative;
    display: block;
    height: 340px;
    width: 360px;
    margin-inline: auto;
}

.podium {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.first {
    left: 160px;
}