:host {
    position: relative;
    display: block;
    height: 340px;
    width: 360px;
    margin-inline: auto;
}

.podium {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    filter: drop-shadow(-8px -4px 8px var(--toy-shadow-color));
}

.toy {
    position: absolute;
}

.toy.first {
    left: 160px;
    bottom: 144px;
}

.toy.second {
    left: 24px;
    bottom: 98px;
}

.toy.third {
    right: 18px;
    bottom: 67px;
}

.points {
    position: absolute;
    font-family: var(--font-family-gaming);
    color: var(--podium-points-color);
    font-size: 24px;
    text-align: center;
}

.points.first {
    left: 126px;
    bottom: 50px;
    width: 112px;
}

.points.second {
    left: 28px;
    bottom: 28px;
    width: 96px;
}

.points.third {
    right: 24px;
    bottom: 16px;
    width: 97px;
}