:host {
    width: 64px;
    height: 32px;
    border-radius: 8px;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 2px;
}