:host {
    display: block;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--light-blue);
    padding: 4px;
    box-sizing: border-box;
}


.flag-container {
    background: var(--flag-background);
    border: 1px solid var(--light-blue);
    border-radius: inherit;
    padding: 24px;
    height: 100%;
}

.flag-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    box-sizing: border-box;
}