:host {
    display: block;
    height: 128px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--light-blue);
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

:host:hover {
    transform: scale(1.05);
}

.flag-container {
    background: var(--flag-background);
    border-radius: inherit;
    padding: 24px;
    height: 100%;
    display: flex;
    align-items: center;

}

.flag-img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    box-sizing: border-box;
}