:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding-top: 16px;
}

h2 {
    color: var(--light-blue);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

video {
    border-radius: 8px;
    width: 100%;
    max-width: 480px;
}

app-dialogue {
    width: 100%;
    max-width: 480px;
}