:host {
    margin-inline: auto;
    display: grid;
    align-content: start;
    gap: 24px 0;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 48px;
}

.segmented-control {
    width: 128px;
    grid-template-columns: 1fr;
    margin: 16px auto;
}

.toy {
    margin-inline: auto;
}