dialog::backdrop {
    background: rgba(255, 255, 255, 0.9);
}

dialog[open] {
    display: grid;
    grid-template-rows: 40px 1fr 256px;
    grid-template-columns: 1fr 40px;
    gap: 16px;
}

dialog {
    border-radius: 8px;
    border: 1px solid var(--light-blue);
    top: 5%;
    margin: 0 auto;
    padding: 16px;
    height: 90%;
    width: 90%;
    max-width: 576px;
    z-index: 1;
}

dialog::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--background-image);
    background-size: var(--background-size);
    z-index: -1;
}

.modal-close {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-blue);
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    outline: none;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.modal-close:hover {
    color: var(--white);
    background-color: var(--light-blue);
}