dialog::backdrop {
    background: var(--dialog-backdrop-background-color);
}

dialog[open] {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 40px;
    gap: 16px;
}

dialog[open]:has(app-modal-footer) {
    grid-template-rows: 40px 1fr 144px;
}

dialog {
    border-radius: 16px;
    border: 1px solid var(--dialog-border-color);
    top: 5%;
    margin: 0 auto;
    padding: 16px;
    height: 90%;
    width: 90%;
    max-width: 576px;
    z-index: 1;
    position: relative;
    isolation: isolate;

    &::before {
        content: "";
        position: absolute;
        inset: 4px;
        background: var(--dialog-background);
        z-index: -1;
        border-radius: inherit;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--dialog-border);
        background-size: cover;
        transition: opacity 0.3s ease-in-out;
        z-index: -2;
    }

}

.modal-close {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--modal-button-close-color);
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    outline: none;
    border-radius: 50%;
    transition: all 0.3s ease;
    background-color: transparent;
}

.modal-close:hover {
    color: var(--modal-button-close-hover-color);
    background-color: var(--modal-button-close-hover-background-color);
}