dialog::backdrop {
    background: rgba(255, 255, 255, 0.9);
}

dialog[open] {
    display: grid;
    grid-template-rows: 50% 1fr 40%;
    justify-content: center;
}

dialog {
    border-radius: 8px;
    border: 1px solid var(--light-blue);
    top: 20%;
    margin: 0 auto;
    padding: 16px;
    height: 60%;
    width: 80%;
    max-width: 320px;
    z-index: 1;
}

dialog:focus {
    outline: none;
}

dialog::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
}

.alert-close {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-blue);
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.alert-close:hover {
    color: var(--white);
    background-color: var(--light-blue);
}