:host {
    position: relative;
    height: 240px;
    width: 100px;
    display: block;
}

.base {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    filter: drop-shadow(-8px -4px 8px var(--toy-shadow-color));
}

.toy {
    position: relative;
}

.toy.maxi {
    left: 10px;
}

.toy.kei {
    left: 10px;
}

.toy.mero {
    left: 6px;
}

.toy.diego {
    left: 14px;
}

.points {
    position: absolute;
    bottom: 6px;
    color: var(--blue);
    font-family: var(--font-family-dialogue);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}