:host {
    display: block;
    width: 100%;
}

.dialogue {
    display: grid;
    gap: 16px 0;
    opacity: 0;
    transition: opacity 0.3s;
    width: 100%;
}

.dialogue.show {
    opacity: 1;
}

.dialogue app-video {
    max-height: 60dvh;
}

.dialogue-image {
    max-height: 30dvh;
    display: block;
    margin: 0 auto;
}