.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 2px solid var(--border-color);
    border-radius: 2px;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    font-family: var(--font-family-gaming);
    font-weight: bold;
    color: var(--blue);
}

.score.has-value {
    background-color: var(--light-blue);
    color: var(--white);
    border-color: var(--light-blue);
}