body.classic-light {
    --app-background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(/assets/img/background.png);
    --app-background-color: transparent;
    --app-background-size: 128px;
    --alert-title-color: var(--blue);
    --alert-message-color: var(--blue);
    --border-color: var(--light-blue-50);
    --button-color: var(--light-blue);
    --button-background-color: var(--white);
    --button-border-color: var(--border-color);
    --button-primary-border-color: var(--cyan);
    --button-disabled-color: rgba(255, 255, 255, 0.6);
    --button-disabled-background-color: var(--green);
    --button-hover-color: #000;
    --button-hover-background-color: var(--cyan);
    --button-hover-border-color: var(--cyan);
    --button-icon-border-width: 1px;
    --card-background: var(--flag-background);
    --champion-prediction-user-color: var(--blue);
    --champion-prediction-user-background-color: var(--white);
    --champion-prediction-user-border-color: var(--border-color);
    --champion-prediction-user-hover-border-color: var(--blue);
    --champion-prediction-user-selected-color: var(--white);
    --champion-prediction-user-selected-background-color: var(--light-blue);
    --dialog-background-color: rgba(0, 0, 0, 1);
    --dialog-backdrop-background-color: rgba(0, 0, 0, .7);
    --dialogue-text-color: var(--white);
    --dialogue-text-background-color: var(--onyx);
    --dialogue-text-border-color: var(--cyan);
    --dialogue-text-arrow-color: #000;
    --dialogue-text-cursor-color: #FFF;
    --flag-background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url('/assets/img/player-background.png');
    --flag-border-color: var(--white);
    --fixture-nav-selected-color: var(--white);
    --list-tile-color: var(--white);
    --list-tile-border-color: transparent;
    --list-tile-background-color: var(--onyx);
    --list-tile-hover-color: #000;
    --list-tile-hover-background-color: var(--cyan);
    --nav-color: var(--blue);
    --nav-background-color: var(--light-blue-tertiary);
    --nav-active-color: var(--white);
    --nav-active-background-color: var(--light-blue);
    --match-color: var(--white);
    --match-background-color: rgba(39, 39, 39, 0.6);
    --match-content-background-color: var(--white);
    --match-prediction-color: #000;
    --match-prediction-predicted-background-color: var(--cyan);
    --match-prediction-background-color: var(--white);
    --match-prediction-item-color: var(--match-color);
    --match-prediction-item-background-color: transparent;
    --match-prediction-item-border-color: #FFF;
    --match-prediction-item-points-lose-color: var(--secondary-text-color);
    --match-prediction-item-points-lose-border-color: var(--secondary-text-color);
    --match-prediction-item-points-winner-color: var(--white);
    --match-prediction-item-points-winner-background-color: var(--onyx);
    --match-prediction-item-points-diff-color: #000;
    --match-prediction-item-points-diff-background-color: var(--secondary-text-color);
    --match-prediction-item-points-exact-color: #000;
    --match-prediction-item-points-exact-background-color: var(--cyan);
    --match-score-color: #000;
    --match-score-background-color: var(--white);
    --match-score-border-color: var(--cyan);
    --match-score-has-value-color: var(--match-prediction-color);
    --match-score-has-value-background-color: var(--cyan);
    --match-score-has-value-border-color: var(--cyan);
    --match-score-arrow-color: var(--white);
    --match-time-live-color: var(--cyan);
    --match-modal-color: var(--white);
    --modal-button-close-color: var(--cyan);
    --modal-button-close-hover-color: #FFF;
    --modal-button-close-hover-background-color: var(--cyan);
    --modal-title-color: #FFF;
    --position-row-hover: var(--green-dark);
    --podium-points-color: #000;
    --podium-base-color: var(--cyan);
    --scene-title-color: var(--light-blue);
    --segmented-color: var(--nav-color);
    --segmented-background-color: var(--white);
    --segmented-border-color: var(--border-color);
    --select-color: #FFF;
    --select-background-color: #000;
    --select-border-color: var(--border-color);
    --select-hover-border-color: var(--cyan);
    --select-item-selected-color: #000;
    --select-item-hover-color: var(--cyan);
    --select-item-selected-background-color: var(--cyan);
    --stadium-background-image: url('/assets/img/stadium.png');
    --table-color: #FFF;
    --table-highlight-color: var(--cyan);
    --table-background-color: #000;
    --table-border-color: var(--border-color);
    --team-name-border-color: var(--sun-yellow);
    --toy-shadow-color: rgba(0, 0, 0, .5);
    --toy-base-points-color: #000;
    --toy-base-fill-color: var(--cyan);
    --toy-base-stroke-color: #000;
}