:root {
    --app-background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(15, 15, 15, 0.8), rgba(0, 0, 0, 0.95)), url('/assets/img/background.svg');
    --app-background-color: rgba(0, 0, 0, .5);
    --app-background-size: 512px;
    --alert-title-color: var(--blue);
    --alert-message-color: var(--blue);
    --border-color: var(--green);
    --button-color: #FFF;
    --button-background-color: #000;
    --button-border-color: var(--green);
    --button-primary-border-color: var(--cyan);
    --button-primary-container-padding: 0;
    --button-disabled-color: rgba(255, 255, 255, 0.6);
    --button-disabled-background-color: var(--green);
    --button-hover-color: #000;
    --button-hover-background-color: var(--cyan);
    --button-hover-border-color: var(--cyan);
    --button-icon-border-width: 2px;
    --button-icon-background-color: #000;
    --button-outline-hover-color: #FFF;
    --button-outline-hover-background-color: #000;
    --button-outline-disabled-hover-background-color: #000;
    --card-background: var(--flag-background);
    --champion-prediction-user-color: var(--white);
    --champion-prediction-user-background-color: var(--onyx);
    --champion-prediction-user-border-color: transparent;
    --champion-prediction-user-hover-border-color: transparent;
    --champion-prediction-user-selected-color: #000;
    --champion-prediction-user-selected-background-color: var(--cyan);
    --dialog-background: rgba(0, 0, 0, 1);
    --dialog-border: url('/assets/img/modal-border.svg');
    --dialog-border-color: transparent;
    --dialog-backdrop-background-color: rgba(0, 0, 0, .7);
    --dialogue-text-color: var(--white);
    --dialogue-text-background-color: var(--onyx);
    --dialogue-text-border-color: var(--emerald);
    --dialogue-text-arrow-color: #FFF;
    --dialogue-text-cursor-color: #FFF;
    --flag-background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url('/assets/img/player-background.png');
    --flag-border-color: var(--white);
    --fixture-nav-selected-color: var(--white);
    --happy-birthday-color: var(--cyan);
    --list-tile-color: var(--white);
    --list-tile-border-color: transparent;
    --list-tile-background-color: var(--onyx);
    --list-tile-hover-color: #000;
    --list-tile-hover-background-color: var(--cyan);
    --loading-color: var(--cyan);
    --nav-color: var(--white);
    --nav-background-color: var(--onyx);
    --nav-active-color: #000;
    --nav-active-background-color: var(--cyan);
    --match-color: var(--white);
    --match-background-color: rgba(39, 39, 39, 0.6);
    --match-border-color: transparent;
    --match-hover-border-color: transparent;
    --match-border-radius: 16px;
    --match-content-background-color: var(--onyx);
    --match-content-background-image: url('/assets/img/match-border.svg');
    --match-info-padding: 8px 16px;
    --match-list-gap: 32px 0;
    --match-prediction-color: #000;
    --match-prediction-predicted-background-color: var(--cyan);
    --match-prediction-box-border-color: transparent;
    --match-prediction-background-color: var(--white);
    --match-prediction-item-color: var(--match-color);
    --match-prediction-item-background-color: transparent;
    --match-prediction-item-border-color: #FFF;
    --match-prediction-item-points-lose-color: var(--secondary-text-color);
    --match-prediction-item-points-lose-border-color: var(--secondary-text-color);
    --match-prediction-item-points-winner-color: var(--white);
    --match-prediction-item-points-winner-background-color: var(--onyx);
    --match-prediction-item-points-diff-color: #000;
    --match-prediction-item-points-diff-background-color: var(--secondary-text-color);
    --match-prediction-item-points-exact-color: #000;
    --match-prediction-item-points-exact-background-color: var(--cyan);
    --match-score-color: #000;
    --match-score-background-color: var(--white);
    --match-score-border-color: var(--cyan);
    --match-score-has-value-color: var(--match-prediction-color);
    --match-score-has-value-background-color: var(--cyan);
    --match-score-has-value-border-color: var(--cyan);
    --match-score-arrow-color: var(--white);
    --match-score-container-top: -4px;
    --match-time-live-color: var(--cyan);
    --match-modal-color: var(--white);
    --modal-button-close-color: var(--cyan);
    --modal-button-close-hover-color: #FFF;
    --modal-button-close-hover-background-color: var(--cyan);
    --modal-title-color: #FFF;
    --position-row-hover: var(--green-dark);
    --podium-points-color: #000;
    --podium-base-color: var(--lime);
    --scene-title-color: var(--cyan);
    --segmented-color: #FFF;
    --segmented-background-color: #000;
    --segmented-border-color: var(--cyan);
    --select-border-width: 2px;
    --select-color: #FFF;
    --select-background-color: #000;
    --select-border-color: var(--cyan);
    --select-hover-border-color: var(--cyan);
    --select-item-selected-color: #000;
    --select-item-hover-color: var(--cyan);
    --select-item-hover-background-color: transparent;
    --select-item-selected-background-color: var(--cyan);
    --stadium-background-image: url('/assets/img/stadium-night.webp');
    --table-color: #FFF;
    --table-highlight-color: var(--cyan);
    --table-background-color: #000;
    --table-border-color: var(--border-color);
    --table-team-color: #FFF;
    --team-name-border-color: var(--sun-yellow);
    --team-flag-img-border-color: var(--secondary-text-color);
    --toy-shadow-color: rgba(0, 0, 0, .5);
    --toy-base-points-color: #000;
    --toy-base-fill-color: var(--lime);
    --toy-base-stroke-color: #000;
    --theme-item-color: var(--white);
    --theme-item-background-color: var(--onyx);
    --theme-item-border-color: var(--border-color);
    --theme-item-hover-color: var(--white);
    --theme-item-hover-background-color: var(--onyx);
    --theme-item-hover-border-color: var(--cyan);
    --theme-item-selected-color: #000;
    --theme-item-selected-background-color: var(--cyan);
}