:root {
    --background-image: linear-gradient(rgba(27, 27, 29, .6), rgba(27, 27, 29, .9), rgba(27, 27, 29, .6)), url('/assets/img/background-40.svg');
    --background-size: 48px;
}

body {
    display: grid;
}

app-root {
    display: inherit;
    height: inherit;
    background-image: var(--background-image);
    background-size: var(--background-size);
    font-family: sans-serif;
}

router-outlet {
    display: none;
}

router-outlet+* {
    grid-column: 1 / -1;
}