:root {
    --onyx: #454545; 
    --cyan: #61FFD9;
    --green: #004C3A;
    --green-dark: #011c16;
    --lime: rgb(192,242,34);
    --lavender: rgb(174,140,241);
    --lavender-dark: hsl(260.2, 78.3%, 40.7%);;
    --emerald: rgb(37,211,102);
    --light-blue: #75aadb;
    --light-blue-soft: #86ADD3;
    --light-blue-30: rgba(117, 170, 219, .3);
    --light-blue-50: rgba(117, 170, 219, .5);
    --light-blue-80: rgba(117, 170, 219, .8);
    --light-blue-secondary: rgb(186, 212, 237);
    --light-blue-tertiary: rgb(213, 229, 244);
    --blue: #0B1F54;
    --secondary-text-color: #b5b7bb;
    --gray-600: #718096;
    --sun-yellow: #fcbf45;
    --white: #ffffff;
}