:root {
    --nav-border-radius: 16px;
    --nav-item-height: 40px;
    --nav-item-width: 96px;
    --player-height: 210px;
    --player-width: 152px;
    --player-search-height: 40px;
    --menu-button-size: 40px;
}