:host {
    display: inline-block;
    margin-left: 4px;
    user-select: none;
}

:host.mode-line {
    animation: blink 1s infinite;
    background-color: var(--dialogue-text-cursor-color);
    position: relative;
    top: 2px;
    height: 16px;
    width: 3px;
}

:host.mode-arrow {
    animation: bounce 0.8s infinite alternate;
    color: var(--dialogue-text-cursor-color);
    font-size: 12px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4px);
    }
}