:host {
    display: flex;
    justify-content: center;
}

.group-title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--light-blue-50);
    text-transform: uppercase;
    width: 96px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}