:host {
    display: grid;
    grid-template-columns: 40px 1fr 1fr;
    align-items: center;
    gap: 0 16px;
    color: var(--blue);
    text-transform: uppercase;
    padding: 0 8px;
    position: relative;
}

:host(:before) {
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s ease-in-out;
}

:host(:hover):before {
    background-color: var(--sun-yellow);
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--player-background);
}

.name {
    font-weight: normal;
    font-size: 12px;
}

.lastname {
    font-weight: bold;
    font-size: 13px;
    font-style: italic;
}