nav {
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    background: var(--nav-background-color);
    border-radius: var(--nav-border-radius);
    color: var(--nav-color);
    position: relative;
    z-index: 0;
}

li {
    border-radius: var(--nav-border-radius);
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--nav-item-height);
    position: relative;
    z-index: 1;
    border-radius: inherit;
}

a.active {
    color: var(--nav-active-color);
    background-color: var(--nav-active-background-color);
}