nav {
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    background: var(--nav-background-color);
    border-radius: var(--nav-border-radius);
    color: var(--nav-color);
    position: relative;
    z-index: 0;
}

ul::after {
    content: '';
    width: 128px;
    height: var(--nav-item-height);
    background: var(--nav-active-background-color);
    position: absolute;
    border-radius: var(--nav-border-radius);
}

ul.list::after {
    transform: translateX(0);
}

ul.ranking::after {
    transform: translateX(128px);
}

ul.necks::after {
    transform: translateX(256px);
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--nav-item-height);
    position: relative;
    z-index: 1;
}

a.active {
    color: var(--nav-active-color);
}