nav {
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    background: var(--nav-background-color);
    border-radius: var(--nav-border-radius);
    color: var(--nav-color);
}

a {
    padding: 16px;
    text-align: center;
    border-radius: var(--nav-border-radius);
    display: block;
}

a.active {
    background: var(--nav-active-background-color);
    color: var(--nav-active-color);
}