:host {
    display: grid;
    grid-template-rows: 85dvh 15dvh;
}

.start {
    position: absolute;
}

:host ::ng-deep app-video video {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

app-button-primary {
    justify-self: center;
}