:host {
    color: var(--light-blue);
    font-family: var(--font-family-gaming);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

a {
    display: block;
    background: linear-gradient(to right, var(--blue) 20%, var(--light-blue) 50%, var(--blue) 80%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: scale 1s ease-in-out infinite, shimmer 2s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: 200% center;
    }

    100% {
        background-position: -200% center;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}