:host {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--player-selected-list-height);
    background-color: var(--white);
    transition: height 0.3s ease-in-out;
    z-index: 100;
}

:host.expanded {
    height: calc(100% - 64px);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--player-selected-list-height);
    background-color: var(--light-blue-secondary);
    padding: 8px 16px;
}

button {
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: var(--font-family-gaming);
    position: absolute;
    height: 24px;
    width: 48px;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
}

:host.expanded button .icon {
    transform: rotate(180deg);
}

h2 {
    font-size: 10px;
    font-family: var(--font-family-gaming);
    font-weight: normal;
    color: var(--blue);
}

.list {
    display: none;
    flex: 1;
    overflow-y: auto;
    padding: 8px 16px;
}

:host.expanded .list {
    display: grid;
    align-content: start;
    gap: 8px
}

li {
    padding: 8px 0;
    border-bottom: 1px solid var(--light-blue-secondary);
}