:host {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--player-selected-list-height);
    background-color: var(--white);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--player-selected-list-height);
    background-color: var(--light-blue-secondary);
    padding: 8px 16px;
}

button {
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: var(--font-family-gaming);
    position: absolute;
    height: 24px;
    width: 48px;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-size: 10px;
    font-family: var(--font-family-gaming);
    font-weight: normal;
    color: var(--blue);
}

.list {
    display: none;
}