:host {
    color: var(--blue);
    border: 1px solid var(--border-color);
    background-color: var(--light-blue-secondary);
    border-radius: 4px;
    font-family: var(--font-family-dialogue);
    font-size: 8px;
    letter-spacing: 2px;
    padding: 8px 16px;
    text-transform: uppercase;
    text-align: center;
}