:host {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
}

video {
    width: 100%;
    flex-shrink: 0;
    border-radius: 8px;
}

.day-stadium {
    display: none;
}

.night-stadium {
    display: block;
}

:host-context(body.classic-light) .day-stadium {
    display: block;
}

:host-context(body.classic-light) .night-stadium {
    display: none;
}