:host {
    display: block;
    width: 100%;
}

.table-container {
    background-color: var(--table-background-color);
    border-radius: 4px;
    border: 1px solid var(--table-border-color);
    overflow: hidden;
    margin-bottom: 24px;
    font-size: 11px;
    color: var(--table-color);
}

.table-body {
    display: flex;
    flex-direction: column;
}

.table-body app-position-item:last-child ::ng-deep .position-row {
    border-bottom: none;
}