.player-item {
    position: relative;
    display: grid;
    grid-template-rows: 148px 1fr;
    width: var(--player-width);
    height: var(--player-height);
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url('/assets/img/player-background.png');
    border-radius: 8px;
    border: 4px solid var(--player-border-color);
    color: var(--blue);
    box-shadow: 0 0 0 1px var(--border-color);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.player-item:hover {
    transform: scale(1.05);
}

.player-item.selected {
    border-color: var(--light-blue);
}

.player-item.selected::before,
.player-item.adding::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
}

.player-item.selected::after {
    content: "check";
    font-family: "Material Symbols Outlined";
    color: var(--white);
    position: absolute;
    background-color: var(--light-blue);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    top: 4px;
    right: 4px;
}

.player-item.adding::after {
    color: var(--white);
    position: absolute;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.player-item.adding:hover {
    transform: none;
    cursor: not-allowed;
}