:host {
    display: grid;
    grid-template-rows: 148px 1fr;
    width: var(--player-width);
    height: var(--player-height);
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url('/assets/img/player-background.png');
    border-radius: 8px;
    border: 4px solid var(--player-border-color);
    color: var(--blue);
    box-shadow: 0 0 0 1px var(--border-color);
}