:host {
    display: grid;
    grid-template-rows: 148px 1fr;
    width: var(--player-width);
    height: var(--player-height);
    background-image: url('/assets/img/player-background.png');
    border-radius: 8px;
    border: 2px solid var(--player-border-color);
}