:host {
    display: grid;
    align-content: start;
    padding-top: 8px;
    font-size: 12px;
    font-weight: bold;
    color: var(--alert-message-color);
    letter-spacing: 1px;
    gap: 4px 0;
    text-align: center;
}