:host {
    padding-top: 8px;
}

h2 {
    background-color: var(--light-blue-50);
    color: var(--blue);
    width: 48px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    left: 16px;
}

.list {
    flex: 1;
    overflow-y: auto;
    padding: 8px 16px;
    display: grid;
    align-content: start;
    gap: 8px
}

li {
    padding: 8px 0;
    border-bottom: 1px solid var(--light-blue-secondary);
}