.button-icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    padding: 2px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.button-icon {
    width: 100%;
    height: 100%;
    padding: 0;
}

.material-symbols-outlined {
    font-size: 16px;
}