:host {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-row: 2;
    grid-column: 1;
    text-transform: uppercase;
    border-radius: inherit;
}

h4 {
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    padding: 2px 0;
}


h2 {
    font-size: 14px;
    font-style: oblique;
}

h2::after {
    content: '';
    display: block;
    margin: 4px auto 0;
    height: 2px;
    width: 48px;
    background-color: var(--player-name-border-color);
}