:host {
    position: fixed;
}

.match-prediction-grid {
    display: grid;
    grid-template-columns: 90px 48px 24px 24px 48px 90px;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 8px 16px;
    width: 100%;
    padding: 16px 0;
}

.team-flag {
    grid-row: 1 / 3;
    width: 96px;
}

.team-name {
    grid-row: 3;
    font-weight: bold;
    font-size: 11px;
    color: var(--blue);
    text-transform: uppercase;
    text-align: center;
    word-break: break-word;
}

/* Equipo 1 */
.team-1-flag {
    grid-column: 1;
}

.team-1-name {
    grid-column: 1;
}

/* Input 1 */
.score-input {
    width: 40px;
    height: 40px;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--light-blue);
    grid-row: 1 / 3;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    outline: none;
    border: 0;
}

.score-1-input {
    grid-column: 2;
}

/* Flechas 1 */
.arrow-1-up {
    grid-column: 3;
    grid-row: 1;
}

.arrow-1-down {
    grid-column: 3;
    grid-row: 2;
}

/* Flechas 2 */
.arrow-2-up {
    grid-column: 4;
    grid-row: 1;
}

.arrow-2-down {
    grid-column: 4;
    grid-row: 2;
}

/* Input 2 */
.score-2-input {
    grid-column: 5;
}

/* Equipo 2 */
.team-2-flag {
    grid-column: 6;
}

.team-2-name {
    grid-column: 6;
}

/* Quitar spinners nativos */
.score-input::-webkit-outer-spin-button,
.score-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.score-input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.arrow {
    background: none;
    border: none;
    color: var(--light-blue);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: transform 0.1s ease;
}

.arrow:active {
    transform: scale(0.9);
}

.arrow span {
    font-size: 24px;
    user-select: none;
}

.match-date-time {
    margin-top: 16px;
    font-size: 11px;
    color: var(--blue);
    text-align: center;
    font-style: italic;
}